* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(250, 20%, 10.2%);
  color: #f1eefe;
  max-width: 800px;
  margin: 50px auto;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
}

.contracts-list {
  min-height: 300px;
  margin-top: 20px;
}

.contract-item {
  background-color: #2c2250;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-file-contract {
  font-size: 25px;
}

.contract-icon-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contract-title {
  margin-left: 8px;
}

.contract-id {
  color: #f1a10d;
}

.contract-dates {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.paginationBttns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px 15px;
  border-radius: 3px;
  color: #f1eefe;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.paginationBttns a:hover {
  color: #f1eefe;
  background-color: #32275f;
}

.paginationActive a {
  color: #f1eefe;
  background-color: #32275f;
  cursor: default;
}

.paginationDisabled {
  display: none;
}

.contract-item .MuiAlert-root {
  padding: 3px 8px;
  align-items: center;
}

.contract-item .MuiAlert-icon {
  margin-right: 5px;
  font-size: 18px;
}

.contract-item .MuiAlert-message {
  padding: 0;
}
